<p>Welcome to Open Office Hours!</p>
<p>To activate your account please visit <%= link_to user_activate_path(@user.activation_code, :only_path => false), user_activate_path(@user.activation_code, :only_path => false) %>.</p>
<p>Thanks,<br />
	Open Office Hours</p>

