body{
   margin:0px;
   padding:0px;
}
div{
   margin:0px;
   padding:0px;
}


.head{
   background:#66CCFF;
   margin-bottom:15px;
   padding:10px 10px 20px 10px;
   
}

.head h1{
   margin:0px;
   padding:0px;
}

.head_title{
   float:left;
}

.head_right_menu{
   float:right;
}

.main_hold{
   padding-left:10px;
   padding-right:10px;
}

.clear{
   width:100%;
   clear:both;
}

.footer{
   font-size:10px;
   font-color:#CCCCCC;
   border-top:1px solid #CCCCCC;
   margin-left:10px;
   margin-right:10px;
   margin-top:20px;
   padding-top:10px;
   padding-bottom:10px;
}

#flash_notice{
   padding:10px;
   border:1px solid #CCCCCC;
   background:#FFF380;
   margin:10px;
   color:#000000;
}

#flash_errors{
   padding:10px;
   border:1px solid #CCCCCC;
   background:#F75D59;
   margin:10px;
   color:#000000;
}


.search_menu{
   width:250px;
   float:left;
}

.search_results{
   float:left;
}