body{
   margin:0px;
   padding:0px;
}
div{
   margin:0px;
   padding:0px;
}


.all_hold{
   width:900px;
   margin-left:auto;
   margin-right:auto;
   border:1px solid #cccccc;
   margin-top:10px;
}

.head{
   background:#66CCFF;
   margin-bottom:15px;
   padding:20px 10px 20px 10px;
   
}

.head h1{
   margin:0px;
   padding:0px;
}

.head_title{
   float:left;
}

.head_right_menu{
   float:right;
}

.main_hold{
   padding:10px;
}

.clear{
   width:100%;
   clear:both;
}

.footer{
   font-size:10px;
   font-color:#CCCCCC;
   padding-top:10px;
   padding-bottom:10px;
   width:900px;
   margin-left:auto;
   margin-right:auto;
}

#flash_notice{
   padding:10px;
   border:1px solid #CCCCCC;
   background:#FFF380;
   margin:10px;
   color:#000000;
}

#flash_errors{
   padding:10px;
   border:1px solid #CCCCCC;
   background:#F75D59;
   margin:10px;
   color:#000000;
}


.search_menu{
   width:250px;
   float:left;
}

.search_results{
   float:left;
}

.rating{
   border:1px solid #cccccc;
   padding:5px;
   width:500px;
}

.rating-title{
   
}

.office-hour-box{
   margin-bottom:20px;
}