<div class="rating">
   <div class="rating-title"><%= rating.user.displayname %> at <%= rating.created_at %></div>
   <div class="rating-number">Rating: <%= rating.number %></div>
   <p><strong>Comment:</strong><br /><%= rating.comment %></p>
</div>