<% if @officehours.blank? %>
   <p>There are no office hours currently in the system.</p>
<% else %>
   <p>These are the office hours in the system:</p>
   <ul id="officehours">
      <% @officehours.each do |o| %>
         <li><%= o.user_course.user.email %> - 
         <%= o.user_course.course.name %></li>
      <% end %>
   </ul>
<% end %>